Icoltrans.Sigelo.Web.Host.Testing/Service References/ControlSeguimientoWS/Icoltrans.Sigelo.Web.Host1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Web.Host" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Web.Host" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Vehiculos" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Maestros" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Seguridad" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Nomina" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Produccion" />
  <xs:complexType name="ParametrosIniciales">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Vehiculos" minOccurs="0" name="Destinos" nillable="true" type="q1:ArrayOfCiudadRuta" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Vehiculos" minOccurs="0" name="Origenes" nillable="true" type="q2:ArrayOfCiudadRuta" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Maestros" minOccurs="0" name="Parametros" nillable="true" type="q3:ParametrosPantalla" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Seguridad" minOccurs="0" name="PerfilesUsuario" nillable="true" type="q4:ArrayOfOpcionPerfil" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Nomina" minOccurs="0" name="UsuarioActual" nillable="true" type="q5:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametrosIniciales" nillable="true" type="tns:ParametrosIniciales" />
  <xs:complexType name="DetalleCaravana">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Vehiculos" minOccurs="0" name="Conductores" nillable="true" type="q6:ArrayOfConductor" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Vehiculos" minOccurs="0" name="Escoltas" nillable="true" type="q7:ArrayOfEscolta" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Produccion" minOccurs="0" name="PuntosEntrega" nillable="true" type="q8:ArrayOfPuntoEntrega" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Vehiculos" minOccurs="0" name="Reportes" nillable="true" type="q9:ArrayOfReporte" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Vehiculos" minOccurs="0" name="Vehiculos" nillable="true" type="q10:ArrayOfVehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleCaravana" nillable="true" type="tns:DetalleCaravana" />
</xs:schema>