Icoltrans.Sigelo.Web.Host.Testing/Service References/ControlSeguimientoWS/Icoltrans.Sigelo.Entity.Maestros1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Maestros" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Maestros" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParametrosPantalla">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapturaNovedades" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="InformeNovedadesManifiesto" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="InformeOperaciones" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="InformeSatelital" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="ParametrosSatelital" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametrosPantalla" nillable="true" type="tns:ParametrosPantalla" />
</xs:schema>