Sigelo.Client/Service References/ServicioVehiculos/ServicioVehiculos5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Seguridad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Icoltrans.Sigelo.Entity.Seguridad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://icolnube02:8200/ServicioVehiculos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfOpcionPerfil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OpcionPerfil" nillable="true" type="tns:OpcionPerfil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOpcionPerfil" nillable="true" type="tns:ArrayOfOpcionPerfil" />
  <xs:complexType name="OpcionPerfil">
    <xs:sequence>
      <xs:element minOccurs="0" name="Confirmacion" type="xs:boolean" />
      <xs:element minOccurs="0" name="Crear" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Eliminar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Href" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdOpcion" type="ser:guid" />
      <xs:element minOccurs="0" name="Identificador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modificar" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpcionPerfil" nillable="true" type="tns:OpcionPerfil" />
</xs:schema>